
    a {
        color: white !important;
        font-family: PMRegular;
        line-height: 1;
        background-color: transparent !important;
        border-color: transparent !important;
      }
      .nav-link:hover {
        color: orange !important;
      }
  
      .nav-link.active {
        color: white !important;
        text-decoration: underline;
      }
      .row {
        margin-right: 0px !important; margin-left: 0px !important;
      }
      #bottom {
        background-color: black;
        height: 100px;
        width: 100%;
         /* position: fixed; */
        bottom: 0;
        z-index: 1;
        color: white;
        text-align: center;
        display: flex;
    justify-content: center;
    align-items: center;
      } 
      #application-canvas {
        margin-top: 15px !important;
      }



        /* // Small devices (landscape phones, 576px and up) */
        @media (min-width: 515px) { 
            .body-contents {
              width: 460px;
              height: 500px;
              top: 20%;
              bottom: 20%;
              align-content: center;
              margin: auto;
              background-color: white;
              }
              video[style] {
                  width: 320px !important;
              }
          }
    
          /* // Medium devices (tablets, 768px and up) */
          @media (min-width: 768px) { 
              .body-contents {
              width: 460px;
              height: 500px;
              top: 20%;
              bottom: 20%;
              align-content: center;
              margin: auto;
              background-color: white;
              }
              video[style] {
                  width: 320px !important;
              }
          }
    
          /* // Large devices (desktops, 992px and up) */
          @media (min-width: 992px) { 
            .logo {
              width: 70%;
            }
            .body-contents {
              width: 460px;
              height: 500px;
              top: 20%;
              bottom: 20%;
              align-content: center;
              margin: auto;
              background-color: white;
              }
              video[style] {
                  width: 320px !important;
              }
          }
    
          /* // Extra large devices (large desktops, 1200px and up) */
          @media (min-width: 1200px) { 
            .body-contents {
              width: 460px;
              height: 500px;
              top: 20%;
              bottom: 20%;
              align-content: center;
              margin: auto;
              background-color: white;
              }
              video[style] {
                  width: 320px !important;
              }
          }



          #myBtn {
            display: block; /* Hidden by default */
            position: fixed; /* Fixed/sticky position */
            bottom: 10px; /* Place the button at the bottom of the page */
            right: 10px; /* Place the button 30px from the right */
            z-index: 99; /* Make sure it does not overlap */
            border-radius: 10px; /* Rounded corners */
            font-size: 18px; /* Increase font size */
          }

          #arrowbtn {
            background-image: url('../assets/arrowup.png');
            background-position: center;
            background-size: contain;
            background-color: transparent;
            background-repeat: no-repeat;
            width: 45.5px;
            height: 28px;
            padding: 18px;
            filter: drop-shadow(2px 4px 6px black);
            border: transparent;
          }

          .arrowbtndown {
            transform: scaleY(-1);
          }
          

          #arrowbtn:hover {
            background-image: url('../assets/arrowup_red.png');

            border: none; /* Remove borders */
            outline: none; /* Remove outline */
            color: white; /* Text color */
            cursor: pointer; /* Add a mouse pointer on hover */
          }